.footer {
    height: 100%;
    padding: 30px;
    background-color: #353535;
    .ohmyfooter {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        margin: 0 0 25px 0;
        font-weight: 300;
        color: white;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        line-height: 25px;
        &__item {
            color: white;
            margin-left: -40px;
        }
    }
}
//footer__list__item footer__list__item--4