.btncoeur {
  position: relative;
  height: 40px;
  width: 40px;
  background: none;
  @include btnstyle;
  cursor: pointer;
  #svgvide {
    path {
      fill: transparent;
      stroke: #000;
      stroke-width: 10;
    }
    /* &:hover path,
        &:active path,
        &:focus path{
        } */
  }
  #svgplein {
    position: absolute;
    top: 1px;
    left: 6px;
    fill: url(#svgGRAD);
    opacity: 0;
  }
  &:hover,
  &:active,
  &:focus {
    #svgplein {
      opacity: 1;
      transition: all 0.3s;
    }
  }
}
.restaurants {
  &__restaurant {
    position: relative;
    .btnlike {
      position: absolute;
      bottom: 20px;
      right: 20px;
      height: 40px;
      width: 40px;
      background: none;
      @include btnstyle;
      cursor: pointer;
      #svgvide {
        path {
          fill: transparent;
          stroke: #000;
          stroke-width: 10;
        }
        /* &:hover path,
              &:active path,
              &:focus path{
              } */
      }
      #svgplein {
        position: absolute;
        top: 1px;
        left: 6px;
        fill: url(#svgGRAD);
        opacity: 0;
      }
      &:hover,
      &:active,
      &:focus {
        #svgplein {
          opacity: 1;
          transition: all 0.3s;
        }
      }
    }
  }
}
.content {
  &__btn {
    background: linear-gradient(to bottom right, #ff79da, #9356dc);
    border-radius: 25px;
    color: white;
    @include btnstyle;
    height: 50px;
    width: 185px;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
      box-shadow: 1px 1px 10px #000000;
      background: linear-gradient(to bottom right, #ff93e0, #b281ee);
      transition: all 0.5s;
    }
  }
}
//content__entrees__item__btn
