.bg-img {
    @include wh(100%, 280px);
    padding-top: 65px;
    object-fit: cover;
}
.content {
    @include f-bx(column, nowrap, center, center);
    position: relative;
    top: -50px;
    border-radius: 30px 30px 0 0;
    background: white
    ;
    z-index: 2;
    &__title {
        text-transform: uppercase;
        font-weight: 500;
    }
    &__h1 {
        font-family: 'Shrikhand', cursive;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 300;
    }
    &__entrees {
        width: 90%;
        &__item {
            @include wh(100%, 70px);
            margin: 10px 0;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.150), -1px -1px 15px rgba(0, 0, 0, 0.150 );
            border-radius: 20px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            overflow: hidden;
            &:hover {
                & > .content__entrees__item__title3,
                & > .content__entrees__item__text {
                    width: calc(65% - 20px);
                    transition: width 0.3s;
                }
                & > .content__entrees__item__btn i {
                    transform: rotate(360deg);
                    transition: all .6s;
                }
            }
            & > .content__entrees__item__title3,
            & > .content__entrees__item__text {
                transition: width .3s;
            }
            &__btn{
                @include wh(20%, 100%);
                 border-radius: 0 20px 20px 0;
                 background-color: #99E2D0;
                 border: none;
                 outline-style: none;
                 color: white;
                 font-size: 1.2rem;
            }
            &__title3 {
                font-size: 15px;
                font-weight: bold;
                margin: 10px 0 0 0;
                padding-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include wh(calc(85% - 20px), 40%);
            }
            &__text {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                margin: 0;
                padding-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include wh(calc(85% - 20px), 40%);
            }
            &__price {
                @include f-bx(row, nowrap, flex-end, flex-end);
                margin: 0;
                padding-right: 20px;
                @include wh(calc(15% - 20px), 60%);
            }
        }
    }
    &__plate {
        width: 90%;
        &__item {
            @include wh(100%, 70px);
            margin: 10px 0;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.150), -1px -1px 15px rgba(0, 0, 0, 0.150 );
            border-radius: 20px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            overflow: hidden;
            &:hover {
                & > .content__plate__item__title3,
                & > .content__plate__item__text {
                    width: calc(65% - 20px);
                    transition: width 0.3s;
                }
                & > .content__plate__item__btn i {
                    transform: rotate(360deg);
                    transition: all .6s;
                }
            }
            & > .content__plate__item__title3,
            & > .content__plate__item__text {
                transition: width .3s;
            }
            &__btn{
                @include wh(20%, 100%);
                 border-radius: 0 20px 20px 0;
                 background-color: #99E2D0;
                 border: none;
                 outline-style: none;
                 color: white;
                 font-size: 1.2rem;
            }
            &__title3 {
                font-size: 15px;
                font-weight: bold;
                margin: 10px 0 0 0;
                padding-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include wh(calc(85% - 20px), 40%);
            }
            &__text {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                margin: 0;
                padding-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include wh(calc(85% - 20px), 40%);
            }
            &__price {
                @include f-bx(row, nowrap, flex-end, flex-end);
                margin: 0;
                height: 60%;
                padding-right: 20px;
                width: calc(15% - 20px);
            }
        }
    }
    &__desserts {
        width: 90%;
        &__item {
            @include wh(100%, 70px);
            margin: 10px 0;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.150), -1px -1px 15px rgba(0, 0, 0, 0.150 );
            border-radius: 20px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            overflow: hidden;
            &:hover {
                & > .content__desserts__item__title3,
                & > .content__desserts__item__text {
                    width: calc(65% - 20px);
                    transition: width 0.3s;
                }
                & > .content__desserts__item__btn i {
                    transform: rotate(360deg);
                    transition: all .6s;
                }
            }
            & > .content__desserts__item__title3,
            & > .content__desserts__item__text {
                transition: width .3s;
            }
            &__btn{
                @include wh(20%, 100%);
                 border-radius: 0 20px 20px 0;
                 background-color: #99E2D0;
                 border: none;
                 outline-style: none;
                 color: white;
                 font-size: 1.2rem;
            }
            &__title3 {
                font-size: 15px;
                font-weight: bold;
                margin: 10px 0 0 0;
                padding-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include wh(calc(85% - 20px), 40%);
            }
            &__text {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                margin: 0;
                padding-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include wh(calc(85% - 20px), 40%);
            }
            &__price {
                @include f-bx(row, nowrap, flex-end, flex-end);
                margin: 0;
                padding-right: 20px;
                @include wh(calc(15% - 20px), 60%);
            }
        }
    }
}